<a href="https://colab.research.google.com/github/jesiqueira/curso_pandas/blob/master/curso_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1 - Abrindo arquivo CSV

In [ ]:
#importando pandas
import pandas as pd

In [ ]:
# Abrindo arquivo 
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Dados/Dados_aula1.csv", encoding= "utf-8", sep=";")

In [ ]:
# Especificar o cabeçalho do arquivo
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Dados/Dados_aula1.csv", encoding= "utf-8", sep=";", header=0)

In [ ]:
# Selecionando somente algumas colunas
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Dados/Dados_aula1.csv", encoding= "utf-8", sep=";", usecols=['City', 'AddressLine1'])

In [ ]:
#Lendo X linhas do Arquivo
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Dados/Dados_aula1.csv", encoding= "utf-8", sep=";", usecols=['City', 'AddressLine1'], nrows=200)

In [ ]:
#visualizar base
df.head()

In [ ]:
#visualizar tamanho do arquivo linha x coluna
df.shape

(200, 2)

# 2 - Abrindo arquivo excel

In [ ]:
# Abrindo arquivo excel 
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Dados/Dados_Excel.xlsx")

In [ ]:
# Especificar qual aba abrir
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Dados/Dados_Excel.xlsx", sheet_name=0)

In [ ]:
# Verifcar o nomes das abras com sheet_names
arquivo = pd.ExcelFile("/content/drive/MyDrive/Colab Notebooks/Dados/Dados_Excel.xlsx")

In [ ]:
arquivo.sheet_names

['Plan1', 'Aba2']

In [ ]:
# usando PARSE para selecionar abas
aba1 = arquivo.parse('Plan1')
aba2 = arquivo.parse('Aba2')

In [ ]:
aba1.head()

In [ ]:
aba2.head()

In [ ]:
df.head()

# 3 - Selecionando Dados do Pandas 1

In [ ]:
# Carregar dados
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Dados/Dados_Excel.xlsx")
df.head()

   AddressID  ...             ModifiedDate
0          1  ...  2007-12-04 00:00:00.000
1          2  ...  2008-11-30 00:00:00.000
2          3  ...  2013-03-07 00:00:00.000
3          4  ...  2009-02-03 00:00:00.000
4          5  ...  2008-12-19 00:00:00.000

[5 rows x 9 columns]

In [ ]:
# Selecionar 1 ou mais colunas por indice
df['AddressLine1'].head()

0           1970 Napa Ct.
1      9833 Mt. Dias Blv.
2    7484 Roundtree Drive
3        9539 Glenside Dr
4           1226 Shoe St.
Name: AddressLine1, dtype: object

In [ ]:
df[['AddressLine1', 'ModifiedDate']].head()

           AddressLine1             ModifiedDate
0         1970 Napa Ct.  2007-12-04 00:00:00.000
1    9833 Mt. Dias Blv.  2008-11-30 00:00:00.000
2  7484 Roundtree Drive  2013-03-07 00:00:00.000
3      9539 Glenside Dr  2009-02-03 00:00:00.000
4         1226 Shoe St.  2008-12-19 00:00:00.000

In [ ]:
# Selecionar por notação ponto
df.AddressLine1.head()

0           1970 Napa Ct.
1      9833 Mt. Dias Blv.
2    7484 Roundtree Drive
3        9539 Glenside Dr
4           1226 Shoe St.
Name: AddressLine1, dtype: object

In [ ]:
# Adionar coluna nova
df['Endereço_Completo'] = df['AddressLine1'] + " - " + df['City']
df.head()

   AddressID  ...               Endereço_Completo
0          1  ...         1970 Napa Ct. - Bothell
1          2  ...    9833 Mt. Dias Blv. - Bothell
2          3  ...  7484 Roundtree Drive - Bothell
3          4  ...      9539 Glenside Dr - Bothell
4          5  ...         1226 Shoe St. - Bothell

[5 rows x 10 columns]

# 4 Usando loc e iloc para selecionar os dados

In [ ]:
# Importando Dados
import pandas as pd

In [ ]:
# Importando dados do arquivo Excel
df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Dados/Dados_Excel.xlsx')

In [ ]:
# Usando o loc
# df.loc[0:3] --> linhas
# df.loc[[1,2,4]]
df.loc[4:6, 'City']

4    Bothell
5    Bothell
6    Bothell
Name: City, dtype: object

In [ ]:
# Usando o iloc
df.iloc[3:6, 1:4]

           AddressLine1 AddressLine2     City
3      9539 Glenside Dr          NaN  Bothell
4         1226 Shoe St.          NaN  Bothell
5  1399 Firestone Drive          NaN  Bothell

In [ ]:
df.head()

   AddressID  ...             ModifiedDate
0          1  ...  2007-12-04 00:00:00.000
1          2  ...  2008-11-30 00:00:00.000
2          3  ...  2013-03-07 00:00:00.000
3          4  ...  2009-02-03 00:00:00.000
4          5  ...  2008-12-19 00:00:00.000

[5 rows x 9 columns]

# 5- Ordenando dados usando o sort_values

In [ ]:
# Importando Dados
import pandas as pd

In [ ]:
# Importando dados do arquivo Excel
df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Dados/Dados_Excel.xlsx')

In [ ]:
# Usando sort_values
df.sort_values('ModifiedDate').head()

     AddressID  ...             ModifiedDate
60          61  ...  2006-06-23 00:00:00.000
233        234  ...  2007-01-19 00:00:00.000
223        224  ...  2007-11-04 00:00:00.000
0            1  ...  2007-12-04 00:00:00.000
213        214  ...  2007-12-13 00:00:00.000

[5 rows x 9 columns]

In [ ]:
# Ordenar por mais de uma coluna
df.sort_values(by =['City', 'AddressID']).head()

     AddressID  ...             ModifiedDate
650        651  ...  2013-07-31 00:00:00.000
365        366  ...  2012-01-29 00:00:00.000
375        376  ...  2012-02-02 00:00:00.000
882        883  ...  2013-05-30 00:00:00.000
895        896  ...  2013-07-31 00:00:00.000

[5 rows x 9 columns]

In [ ]:
df.sort_values('City', ascending=True).head()

     AddressID  ...             ModifiedDate
650        651  ...  2013-07-31 00:00:00.000
365        366  ...  2012-01-29 00:00:00.000
375        376  ...  2012-02-02 00:00:00.000
882        883  ...  2013-05-30 00:00:00.000
895        896  ...  2013-07-31 00:00:00.000

[5 rows x 9 columns]

# 6 - sando Filter para selecionar colunas

In [ ]:
# Usando Itens
df.filter(items= ['AddressID', 'City']).head()

   AddressID     City
0          1  Bothell
1          2  Bothell
2          3  Bothell
3          4  Bothell
4          5  Bothell

In [ ]:
# Usando like
df.filter(like='Cit').head()

      City
0  Bothell
1  Bothell
2  Bothell
3  Bothell
4  Bothell

In [ ]:
# usnado regex
df.filter(regex='.S.').head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]