<a href="https://colab.research.google.com/github/jesiqueira/curso_pandas/blob/master/curso_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1 - Abrindo arquivo CSV

In [2]:
#importando pandas
import pandas as pd

In [39]:
# Abrindo arquivo 
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Dados/Dados_aula1.csv", encoding= "utf-8", sep=";")

In [46]:
# Especificar o cabeçalho do arquivo
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Dados/Dados_aula1.csv", encoding= "utf-8", sep=";", header=0)

In [48]:
# Selecionando somente algumas colunas
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Dados/Dados_aula1.csv", encoding= "utf-8", sep=";", usecols=['City', 'AddressLine1'])

In [50]:
#Lendo X linhas do Arquivo
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Dados/Dados_aula1.csv", encoding= "utf-8", sep=";", usecols=['City', 'AddressLine1'], nrows=200)

In [ ]:
#visualizar base
df.head()

In [52]:
#visualizar tamanho do arquivo linha x coluna
df.shape

(200, 2)

# 2 - Abrindo arquivo excel

In [59]:
# Abrindo arquivo excel 
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Dados/Dados_Excel.xlsx")

In [64]:
# Especificar qual aba abrir
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Dados/Dados_Excel.xlsx", sheet_name=0)

In [67]:
# Verifcar o nomes das abras com sheet_names
arquivo = pd.ExcelFile("/content/drive/MyDrive/Colab Notebooks/Dados/Dados_Excel.xlsx")

In [69]:
arquivo.sheet_names

['Plan1', 'Aba2']

In [72]:
# usando PARSE para selecionar abas
aba1 = arquivo.parse('Plan1')
aba2 = arquivo.parse('Aba2')

In [ ]:
aba1.head()

In [ ]:
aba2.head()

In [ ]:
df.head()

# 3 - Selecionando Dados do Pandas 1

In [77]:
# Carregar dados
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Dados/Dados_Excel.xlsx")
df.head()

   AddressID  ...             ModifiedDate
0          1  ...  2007-12-04 00:00:00.000
1          2  ...  2008-11-30 00:00:00.000
2          3  ...  2013-03-07 00:00:00.000
3          4  ...  2009-02-03 00:00:00.000
4          5  ...  2008-12-19 00:00:00.000

[5 rows x 9 columns]

In [84]:
# Selecionar 1 ou mais colunas por indice
df['AddressLine1'].head()

0           1970 Napa Ct.
1      9833 Mt. Dias Blv.
2    7484 Roundtree Drive
3        9539 Glenside Dr
4           1226 Shoe St.
Name: AddressLine1, dtype: object

In [86]:
df[['AddressLine1', 'ModifiedDate']].head()

           AddressLine1             ModifiedDate
0         1970 Napa Ct.  2007-12-04 00:00:00.000
1    9833 Mt. Dias Blv.  2008-11-30 00:00:00.000
2  7484 Roundtree Drive  2013-03-07 00:00:00.000
3      9539 Glenside Dr  2009-02-03 00:00:00.000
4         1226 Shoe St.  2008-12-19 00:00:00.000

In [88]:
# Selecionar por notação ponto
df.AddressLine1.head()

0           1970 Napa Ct.
1      9833 Mt. Dias Blv.
2    7484 Roundtree Drive
3        9539 Glenside Dr
4           1226 Shoe St.
Name: AddressLine1, dtype: object

In [92]:
# Adionar coluna nova
df['Endereço_Completo'] = df['AddressLine1'] + " - " + df['City']
df.head()

   AddressID  ...               Endereço_Completo
0          1  ...         1970 Napa Ct. - Bothell
1          2  ...    9833 Mt. Dias Blv. - Bothell
2          3  ...  7484 Roundtree Drive - Bothell
3          4  ...      9539 Glenside Dr - Bothell
4          5  ...         1226 Shoe St. - Bothell

[5 rows x 10 columns]